*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



body {
    
    font-family: roboto , sans-serif;
}

.container { 
 
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

 .top-line {
    display: flex;
    align-items: center;
   }


.current_link {
    position: relative;
    color:#2196F3 ;
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
   
   
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
 
   
}
.current_link::after {
    content: '';
    position: absolute;
   left: 0;
    width: 100%;
    background-color: #2196F3;
    border-radius: 2px;
    height: 4px;
    bottom: 0px;
}
.studia_link:focus,
.studia_link:hover {
   
    color: #2196F3;
    
}
.contact-link:focus,
.contact-link:hover {
   
    color: #2196F3;
  
}
.list {
    list-style: none;
    
 }

.nav-list {
    margin-left: 85px;
    display: flex;
 }

.nav-list .item+.item {
    margin-left: 50px;
 }
.studia_link{
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
   
   
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav {
    display: flex;
    margin-left: auto;
    
}
.address-nav .item+.item {
    margin-left: 30px;
    
}

.contact-link {
    display: flex;
    align-items: center;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.icon-mail {
    margin-right: 10px;
    width: 16px;
    height: 11.2px;
    fill:currentColor;
}

.icon-tel {
    margin-right: 10px;
    width: 10px;
    height: 15px;
    fill:currentColor;
}

.logo-studio a span {
   color: #2196F3
}
.logo-studio a {
    display: block;
   
    color:#000;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
   }

/*   Style main                               */
.service {
     width: 1600px;
     text-align: center;
     height: 600px;
     margin-left: auto;
     margin-right: auto;
     
   
 
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8))  , url("../images/serv.jpg");
        background-repeat:no-repeat ;
        background-size: cover;
       
        background-position: center;
        background-color: rgba(47, 48, 58, 0.8);
        
        
     
}

.container-service {
    padding-top: 200px;
    padding-bottom: 200px;
    
    
}

.service-title {
    
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.service_button {
    border: 0px;
    padding: 10px 32px 10px 32px;
    display: inline-block;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    
}
.features {
    padding-top: 94px;
}
.features-navigation {
    display: flex;
    margin-bottom: 94px;
}

.features-navigation .item+.item {
    margin-left: 30px;
}





.features-item{
    display: inline-flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color:#F5F4FA; 
    border-radius: 4px;
    align-items: center;
    

}

.features-icon {
    width: 70px;
    height: 70px;
   
}


 .features-navigation h3 {
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    
}
.features-navigation p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 255px;
}

.section-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.activity_company {
   
    padding-bottom: 94px;
}
.activity-nav {
    display: flex;
  
}

.activity-item {
 
    width: 370px;
    position: relative;
}
.activity-nav .item+.item {  
    margin-left: 30px;
}
.activity-nav a {
 
    text-decoration: none;
    text-transform: uppercase;
}
.activity-nav  h3 {
   
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 24px 15px;
        text-align: center;
      
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    background: rgba(47, 48, 58, 0.8);
    color: #fff;
  
}
.activity-nav img {
    
    display: block;
    max-width: 100%;
    height: 100%;
    

}
  .our_team {
    padding-top: 94px;
    padding-bottom: 94px;
    
    background: #F5F4FA;
     margin-left: auto;
     margin-right: auto;
}
.our_team_workers {
    display: flex;
}
.item-worker {
    display: block;
    width: 270px;
    background: #FFFFFF;


    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;

}

.our_team_workers .item+.item {
    margin-left: 30px;
}
.our_team h3 {
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.our_team p {
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.social-list {
    display: flex;
    padding-left: 32px;
    padding-bottom: 24px;
}
.social-list .item+.item {
    margin-left: 10px;
 }
.social-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
     color: #afb1b8;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.social-links:focus,
.social-links:hover{
    color: #FFFFFF;
    background-color:  #2196F3;
}

.our_clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.our_clients_nav {
    display: flex;
    justify-content: center;
}

.our_clients_nav .item+.item {

    margin-left: 30px;
}

   
.client-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    
    width: 170px;
    height: 90px;
    
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:focus,
.client-link:hover {
    color: #2196F3 ;
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.client-icon {
   
        fill: currentColor;
    }


/*   Style footer                             */

.footer_studio {

    margin-left: auto;
    margin-right: auto;
    background: #2F303A;
}

.container-flex {
    display: flex;
    
}

.contacts_footer {
    width: 231px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-studio-footer a span {
    color: #2196F3
}
.logo-studio-footer a {
    display: block;
    margin-bottom: 20px;
    color:#fff;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    }

.address_footer {
    
    font-style: normal;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
}
.address_footer  .item+.item {
    margin-top: 9px;
}  
.address_footer a {
  
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
 }
 .studia_link:focus,
 .studia_link:hover {
    
     color: #2196F3;
 }
    
.footer_social_network {
    width: 206px;
    color: #fff;
    margin-left: 69px;
    padding-top: 72px;
}

.footer_social_network p {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
   
}
.footer_social_network ul {
    list-style: none;
}
.footer-social-list {
    display: flex;
    align-items: center;
}

.footer-social-list .item+.item {
    margin-left: 10px;
}
.footer-social-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #43444D;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-social-links:focus,
.footer-social-links:hover{
    color: #FFFFFF;
    background-color:  #2196F3;

}
.portfolio_projects a {
    text-decoration: none;
}

.content_projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filtres_portfolio {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

}


.filtres_portfolio .item+.item {
    margin-left: 8px;
}
.portfolio_projects {
    display: flex;
    flex-wrap: wrap;
    
  
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-img-krak {
    position: absolute;
    display: inline-block;
    top:0;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    transform:translateY(100%) ;
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    
}
.link-portfolio:focus,
.link-portfolio:hover .portfolio-img-krak{
   
 
 
    transform: translateY(0);
    opacity: 1;
    
    

}
.link-portfolio:focus,
.link-portfolio:hover {
   
 
    display: block;
   
    border: 0px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.flex-item {
    width: calc((100% - 60px) / 3);
    
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

/*
.link-portfolio:hover,
.link-portfolio:focus  .portfolio-img-krak  {
    display: block;
    background: #FFFFFF;
    border: 0px solid #EEEEEE;
    box-sizing: border-box;
    opacity: 1;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
*/



.flex-item:nth-child(3n) {
    margin-right: 0px;
}
.flex-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.portfolio_projects h1 {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio_projects .name-filtre {
    display: block;
    
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 4px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
.filtres_portfolio_button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtres_portfolio_button:hover,
.filtres_portfolio_button:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: #2196F3;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    
}